@model PEPS_Beta.ViewModels.EstimationViewModel





<div class="x_panel">
    <div class="x_title">
        <h2>Choix des dates</h2>

        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        @using (Ajax.BeginForm("EstimerParam", "Home", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "indicesParam" }))
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="DateDeb">
                                    Début
                                </label>

                                @Html.TextBoxFor(estim => Model.DebutEst, new { @type = "date" })
                            </div>
                        </th>
                        <th>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="dateFin">
                                    Fin
                                </label>
                                @Html.TextBoxFor(ourInd => Model.FinEst, new { @type = "date" })
                            </div>
                        <th>
                        </th>
                        <th>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button type="submit" class="btn btn-primary" value="Estimer paramètres">Estimer paramètres</button>
                                </div>
                            </div>
                        </th>
                    </tr>
                </thead>
            </table>
        }
    </div>
</div>
