@model PEPS_Beta.ViewModels.EstimationViewModel

    @using (Ajax.BeginForm("EstimerParam", "Home", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "indicesParam" }))
    {
            <div>
                @Html.LabelFor(estim => Model.DebutEst)
                @Html.TextBoxFor(estim => Model.DebutEst, "01/10/2012")
            </div>
            <div>
                @Html.LabelFor(ourInd => Model.FinEst)
                @Html.TextBoxFor(ourInd => Model.FinEst, "01/10/2015")
            </div>
            <div>
                @*<label>&nbsp;</label>*@
                <input type="submit" value="Estimer paramètres" class="submit" />
            </div>
    }