
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        Le prix d'une option multimonde avec les spécifications écrites dans ce code C# est : <span style="color:red">@ViewData["d"]</span>
    </div>
</body>
</html>
