@model PEPS_Beta.Models.MultiMondeParam

<h2>
    Date actuelle
</h2>
<div id="multimondeParam">
    @using (Ajax.BeginForm("SetDate", "Home", new AjaxOptions { HttpMethod = "POST" }))
    {
        @Html.HiddenFor(m => Model.Id)
        <div>
            @Html.TextBoxFor(m => Model.CurrDate, new {@Value = Model.CurrDate.ToShortDateString() })
        </div>
        <div>
            @*<label>&nbsp;</label>*@
            <input type="submit" value="Modifier date" class="submit" />
        </div>
    }
</div>