@model PEPS_Beta.Models.MultiMondeParam

<h3>
    Date actuelle
</h3>
<div id="multimondeParam">
    @using (Ajax.BeginForm("SetDate", "Home", new AjaxOptions { HttpMethod = "POST" }))
    {
        @Html.HiddenFor(m => Model.Id)
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <div>
                            @Html.TextBoxFor(m => Model.CurrDate, new { @Value = Model.CurrDate.ToShortDateString() })
                        </div>
                    </th>
                    <th>
                        <div>
                            @*<label>&nbsp;</label>*@
                            <button type="submit" class="btn btn-primary" value="Date actuelle">Modifier Date</button>
                        </div>
                    </th>
                    

                </tr>
            </thead>
        </table>
    }
</div>