<h2> Deltas Actuels : </h2>
<div id="currPort">
    @Html.Action("VoirCurrPort", "Home")
</div>

<div id="optimPort">
</div>

@using (Ajax.BeginForm("CalculerDeltas", "Home", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "optimPort", LoadingElementId = "chargementCalculDelta" }))
{
<div>
    <label>&nbsp;</label>
    <img id="chargementCalculDelta" src="~/Content/ajax-loader2.gif" style="display: none" alt="Chargement en cours..." />
    <button type="submit" class="btn btn-primary" value="Calcul des deltas">Calcul des deltas théoriques</button>
</div>
}