<h2> Deltas Actuels : </h2>
<div id="currPort">
    @Html.Action("VoirCurrPort","Home")
</div>

<div id="optimPort">
</div>

@using (Ajax.BeginForm("CalculerDeltas", "Home", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "optimPort" }))
{
<div>
    <label>&nbsp;</label>
    <button type="submit" class="btn btn-primary" value="Calcul des deltas">Calcul des deltas théoriques</button>
</div>
}