<div>
    Le prix d'une option multimonde avec les spécifications écrites dans ce code C# est : <span style="color:red">@ViewData["price"]</span>. L'intervalle de confiance associé à ce prix est : <span style="color:darkgreen">@ViewData["ic"]</span>
</div>
