
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        Ceci est un script qui crée un vecteur pnl de taille 2 et de valeur @ViewData["d"], et renvoie la somme de ce vecteur : <span style="color:red"> @ViewData["result"]</span>
</div>
</body>
</html>
